<ion-header>
  <ion-toolbar class="black">

    <div class="header">
      <img src="assets/pic.png" alt="Girl in a jacket" width="48" height="48">
      <ion-title>Tony Stark</ion-title>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngFor="let dev of developers">
    <div class="box">
      {{dev.name}}
    </div>
  </div>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <div class="bottom-bar">
      <div class="bottom-button">
        <ion-icon name="add-circle-outline"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>