<ion-content>
  
  <div class="container">
    <h2>Certifications</h2>
    <div class="box" #myLi *ngFor="let dev of developers" (click)="myLi.classList.toggle('my-class')">
      <div class="space">{{dev.name}}</div>
      <div id="details"><span>Credential:{{dev.skills}}</span><span>yep:{{dev.path}}</span><span>Expires:{{dev.img}}</span></div>
      <div id="buttons">
        <button id="View" [routerLink]="['/', 'developers', dev.id]">View</button>
        <button id="Update" [routerLink]="['/', 'developers', dev.id]">Update</button>
      </div>
    </div>
  </div>

</ion-content>
