<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="black">
    
      <div class="header">
        <img src="assets/pic.png" alt="Girl in a jacket" width="48" height="48">
        <ion-title>Tony Stark</ion-title>
      </div>
    
    </ion-toolbar>
  </ion-header>


  

  <div id="container">
<ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
  <!-- Default reorder icon, end aligned items -->
  <ion-item>
    <ion-label>
      Advanced Certified Hospice and Palliati...
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  <ion-item>
    <ion-label>
      Acute Care Nurse Practitioner
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  <!-- Default reorder icon, start aligned items -->
  <ion-item>
    <ion-label>
      Adult Nurse Practitioner
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  <ion-item>
    <ion-label>
      Certified Dialysis Nurse
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  <ion-item>
    <ion-label>
      Certified Emergency Nurse
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  <ion-item>
    <ion-label>
      Certified Heart Failure Nurse
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  <ion-item>
    <ion-label>
      Licensed Practical Nurse
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  <ion-item>
    <ion-label>
      Pain Management Nursing
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  <ion-item>
    <ion-label>
      Trauma Certified Registered Nurse
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
 </ion-reorder-group>
  </div>

  <div class="bottom-bar">
    <div class="bottom-button">
  <ion-icon name="add-circle-outline"></ion-icon>
    </div>
  </div>

</ion-content>