<ion-header>
  <ion-toolbar class="black">
    <div class="header">
      <img src="assets/pic.png" alt="Girl in a jacket" width="48" height="48">
      <ion-title>Tony Stark</ion-title>
      <div id="flex">
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-menu side="end" contentId=content class="my-custom-menu">

 <ion-content>
   <ion-list>
     <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
       <ion-item [routerLink] ="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url">
         {{ p.title }}
       </ion-item>
     </ion-menu-toggle>
   </ion-list>
 </ion-content>
  </ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="bottom-bar">
      <ion-icon [routerLink]="['/', 'add']" id="add" name="add-circle-outline"></ion-icon>
      <ion-button [routerLink]="['/', 'edit']" color="contrast" size="small" id="but" fill="outline">EDIT CERTIFICATIONS
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

