<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="developers"></ion-back-button>
    </ion-buttons>
    <ion-title>Update Certificate</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="developer">
    <ion-item>
      <ion-label position="stacked">Certificate Name?</ion-label>
      <ion-input [(ngModel)]="developer.name" placeholder="Certificate Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Credential Number?</ion-label>
      <ion-input [(ngModel)]="skills" placeholder="Credential Number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Expiration Date></ion-label>
      <ion-input [(ngModel)]="developer.img" placeholder="Date"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="updateDeveloper()">Update Certificate Info</ion-button>
  </div>
</ion-content>