<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="developers"></ion-back-button>
    </ion-buttons>
    <ion-title>Update Certificate</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="developer">
    <ion-item>
      <ion-label position="stacked">Certificate Name</ion-label>
      <ion-input [(ngModel)]="developer.name" (input)="updateCredentials($event.target.value)" placeholder="Certificate Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Credential</ion-label>
      <ion-input  placeholder="{{developer.skills}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">MM/DD/YYYY</ion-label>
      <ion-datetime placeholder="{{developer.img}}" [(ngModel)]="developer.img" displayFormat="MM/DD/YYYY" min="2018-01-01" max="2024-12-12" value="1994-12-15">
      </ion-datetime>
    </ion-item>
    <ion-button (click)="selectImage()">
      Click Picture
    </ion-button>
    <img [src]="developer.path" />
    <ion-button expand="block" (click)="updateDeveloper()">Update Certificate Info</ion-button>
  </div>
</ion-content>